{% extends "base.html" %} {% block meta_title %} Grid System: tailwind-v3.3.2 {%
endblock %} {% block meta_style_and_js %}
<script src="https://cdn.tailwindcss.com/3.3.2"></script>
{% endblock %} {% block content %}

<!-- meta header -->
<div class="app-meta-page-header">
  <a class="app-meta-page-header__back-link" href="/">&lt; Back</a>
  <span class="app-meta-page-header__title">Grid System: tailwind-v3.3.2</span>
</div>
<!-- /meta header -->

<!-- measure  -->
<div class="app-measuring">
  <span class="app-measuring__window-width-num"></span>
  <div class="container mx-auto app-measuring__container">
    <span class="app-measuring__container-width-num"></span>
  </div>
</div>
<!-- /measure  -->

<div class="container mx-auto mt-6 app-u-bg-container">
  <div class="mb-2 px-4 app-u-bg-padding">
    <div class="grid grid-cols-1 gap-4">
      <div class="app-u-bg-body flex justify-center py-2">col-1</div>
    </div>
  </div>
  <div class="mb-2 px-4 app-u-bg-padding">
    <div class="grid grid-cols-2 gap-4">
      <div class="app-u-bg-body flex justify-center py-2">col-2</div>
      <div class="app-u-bg-body flex justify-center py-2">col-2</div>
    </div>
  </div>
  <div class="mb-2 px-4 app-u-bg-padding">
    <div class="grid grid-cols-3 gap-4">
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
    </div>
  </div>
  <div class="mb-2 px-4 app-u-bg-padding">
    <div class="grid grid-cols-4 gap-4">
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
    </div>
  </div>
  <div class="mb-2 px-4 app-u-bg-padding">
    <div class="grid grid-cols-6 gap-4">
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
    </div>
  </div>
</div>

<div class="container mx-auto mt-4 px-4 app-u-bg-padding">
  <div class="app-u-bg-container">
    <div class="grid grid-cols-1 gap-4 mb-2">
      <div class="app-u-bg-body flex justify-center py-2">col-1</div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-2">
      <div class="app-u-bg-body flex justify-center py-2">col-2</div>
      <div class="app-u-bg-body flex justify-center py-2">col-2</div>
    </div>
    <div class="grid grid-cols-3 gap-4 mb-2">
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
      <div class="app-u-bg-body flex justify-center py-2">col-3</div>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-2">
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
      <div class="app-u-bg-body flex justify-center py-2">col-4</div>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-2">
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
      <div class="app-u-bg-body flex justify-center py-2">col-6</div>
    </div>
  </div>
</div>

<script>
  console.log("ya");
  window.addEventListener("load", () => {
    updateWindowWidthDispText();
  });
  window.addEventListener("resize", () => {
    updateWindowWidthDispText();
  });

  const updateWindowWidthDispText = () => {
    const container = document.querySelector(
      ".container.app-measuring__container"
    );
    const windowViewText = document.querySelector(
      ".app-measuring__window-width-num"
    );
    const containerViewText = document.querySelector(
      ".app-measuring__container-width-num"
    );

    windowViewText.textContent = window.innerWidth;
    containerViewText.textContent = container.offsetWidth;

    console.log(window.innerWidth, container.offsetWidth);
  };
</script>

{% endblock %}
