{% extends "base.html" %} {% block meta_title %} Grid System: tailwind-v3.3.2 {%
endblock %} {% block meta_style_and_js %}
<script src="https://cdn.tailwindcss.com/3.3.2"></script>
{% endblock %} {% block content %}

<!-- meta header -->
<div class="app-meta-page-header">
  <a class="app-meta-page-header__back-link" href="/">&lt; Back</a>
  <span class="app-meta-page-header__title">Grid System: tailwind-v3.3.2</span>
</div>
<!-- /meta header -->
<div class="container mx-auto px-4 py-8">Grid System: tailwind-v3.3.2!</div>
{% endblock %}
