<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block meta_title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cmn-style.css') }}"
    />
    {% block meta_style_and_js %}{% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    {% block page_head %}{% endblock %} {% block content %}{% endblock %}
  </body>
</html>
